
body{
    background-image: url('IMG_4489.JPG');
    width: 500px;
    height: 200dvh;
    display:list-item;
    background-size: cover;
    background-position: center;
}
a {
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    border-radius: 200px;
    background-color: #43bff8;
    transition: all 0.3s ease;
    /*Remove default link styling*/
    text-decoration: none;
    color: #000000; /* set text color*/
    
}
a:hover{
    transform: all 0.3s ease-in-out;
    background-color: #05bff89d;
    color: rgb(0, 238, 255);
}
a.active {
    transform: scale(0.9);
    /*Add hover effect*/
    color: #23527c; /* Set active text color */
    padding-left: 100px;
}
.icon{
    width: 40px;
    float: left;
    height: 70px;
}
.logo{
    color:rgb(255, 254, 254) ;
    font-size: 35px;
    font-family: Arial;
    
}
form{
    float: left;
    text-decoration-color: yellow;
}

 


h1{
    color: rgb(0, 255, 157);
    align-items: center;
    font-size:xx-large;
    font-style: italic;
    transition: 0.60s;
}
h2{
    color: rgb(0, 252, 252);
    padding-left: 200px;
    background-color: rgba(255, 0, 0, 0);
    font-size: xx-large;
    font-style: italic;
    
    height: 100px;
    
}

h3{
    color: rgb(0, 238, 255);
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 30px;
    padding-top: 0cap;
    font-style: oblique;
}
h4{
    color: rgb(248, 254, 255);
    font-size: 30PX;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 30px;
    padding-top: 0cap;
    font-style: oblique;
}
h4:hover{
    color: #000000;
}
h6{
    font-size: larger;
    color: brown;
}
h6.hover{
    background-color: yellow;
}

p{
    
    color: rgb(0, 247, 255);
    font-size:larger;
    padding-left: 40px;
    text-underline-offset:var(icon);
}

p1 {
    color: rgb(0, 0, 0);
    font-size:larger;
    padding-left: 40px;
    text-underline-offset:var(icon);
}
.menu{
    font-size: larger;
    border: 40px;
    width: 400px;
    float: left;
    height: 30px;

}
.menu:hover{
    color:chartreuse;
}
ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 30px;
    color: turquoise;
}
ol{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon{
    width: 40px;
    float: left;
    height: 70px;
}
.logo{
    color:rgb(11, 253, 253) ;
    font-size: 35px;
    font-family: Arial;
    padding-left: 40px;
}
form{
    float: left;
    text-decoration-color: yellow;
}
.button {
    width: 80%;
    height: 80px;
}
.image-class {
    width: 100px;
    height: 100%;
    object-fit: cover;
   align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    filter: brightness(1.5);
    filter: saturate(1.5);
    filter: contrast(1.1);
    filter: grayscale(0.1);
    background-clip: padding-box;
    border: 2px solid rgb(4, 0, 255);
    padding: 0;
    border-radius: 10px;
    transition: all ease-in-out 0.8s;
    cursor: pointer;
    margin: 0 10px;
}

.image-class:hover{
    filter: saturate(100%);
    width: 100%; 
}
label{
   color: rgb(255, 255, 255);
   background-color: rgb(0, 26, 255);
   padding: 5px;
   font-size: larger;
   
}

input{
    color:blue;
    font-size: larger;
    padding-left: 10px;
}
input:hover{
    background-color: black;
    
}
.car-images{
    position: relative;
}
.car-images img{
    width: 100%;
    height: 300%;
    object-fit: cover;
    transform: opacity 0.5s;
}
.car-images img:not(.active) {
    opacity: 33333;
}
.car-images img.active{
    opacity: 1;
}
li2{
    color: azure;
    font-size: 30px;
}